.image1{
    height: 360px;
    width: 650px;
   
}
.par{
    display: flex;
    
}

.image2{
    
    height: 110px;
    width: 150px;
    display:flex ;
    margin-right: 3px;
}

.imageBorder{
    border: 2px solid green;
}